<!DOCTYPE html!>
<!--/* A simple sightly script */-->
<html>
<head>
<title>${properties.jcr:title}</title>
</head>
<body>
	<form>
		<div class="mb-3">
			<label for="email-id" class="form-label">Email address</label> <input
				type="email" class="form-control" id="email-id" name="email"
				aria-describedby="emailHelp" />
		</div>
		<div class="mb-3">
			<label for="pass-id" class="form-label">Password</label> <input
				type="password" class="form-control" id="pass-id" name="pass" />
		</div>
		<button type="button" class="btn btn-primary" id="btn-submit">
			Sign in</button>
	</form>
</body>
</html>
