<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<div data-sly-use.info="com.ecommerceDemo.core.models.DynamicPageInfo">
		<meta name="description" content=${info.pageDescription}>
		<title>${info.pageTitle}</title>
	</div>
  </head>
  <body>
    <div data-sly-use.info="com.ecommerceDemo.core.models.DynamicPageInfo">
      <p><strong>Page Title: </strong>${info.pageTitle}</p>
      <p><strong>Page Description: </strong>${info.pageDescription}</p>
    </div>
  </body>
</html>
