<div>
  <h1>ResolverTesting</h1>
  <div data-sly-use.resolver="com.ecommerceDemo.core.models.EcommerceModel">
    <div>
      <p><strong>Current Path: </strong> ${resolver.pagePath}</p>
      <div data-sly-list.item="${resolver.pageInfo}">
        <h5><strong>Child #</strong>${itemList.count}</h5>
        <p><strong>Child Title: </strong>${item.title}</p>
        <p>
          <em> <strong> Path: </strong></em>${item.path}
        </p>
        <small><strong>All the properties name</strong></small>
        <div data-sly-list.childInfo="${item.allInfo}">
          ${childInfo}
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
