<main>
  <h1 class="visually-hidden">Heroes examples</h1>

  <div class="px-4 py-5 my-5 text-center">
    <img
      class="d-block mx-auto mb-4"
      src="https://webstockreview.net/images/laptop-clipart-laptop-icon.png"
      alt=""
      width="100"
      height="100"
    />
    <h1 class="display-5 fw-bold">Getting Straight from the Assets in DAM</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"><div data-sly-include="operations.html"></div></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
    </div>
  </div>
</main>
