<div>
  <p><strong>These are the contents</strong></p>
  <div data-sly-use.asset="com.ecommerceDemo.core.models.ReadAssetModel">
    <h3><strong>The CSV File in String Format</strong></h3>
    <p>${asset.asset}</p>
    <hr />
    <h3><strong>The CSV File in Table Format</strong></h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Serial Number</th>
          <th scope="col">Company Name</th>
          <th scope="col">Employee</th>
          <th scope="col">Description</th>
          <th scope="col">Leaves</th>
        </tr>
      </thead>
      <tbody data-sly-list.item="${asset.properCsv}">
        <tr>
          <th scope="row">${item.serialNumber}</th>
          <td>${item.companyName}</td>
          <td>${item.employee}</td>
          <td>${item.description}</td>
          <td>${item.leave}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
