<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <title>Coding Challenge Sling</title>
  </head>
  <body>
    <main class="container">
      <div class="bg-light p-5 rounded">
        <h1>Retriving Values of the dialog from Sling Model</h1>
        <p class="lead">
            <!-- <div data-sly-use.code="com.ecommerceDemo.core.models.CodeChallengeSling">
                <p><strong>Name field: </strong>${code.name}</>
                <p><strong>Gender field: </strong>${code.gender}</p>
                <p><strong>Book Genre (Options): </strong>${code.genre}</p>
                <ol data-sly-list.item="${code.books}">
                    <li><strong>Book Name: </strong>${item}</li>
                </ol>
            </div> -->
        </p>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
