<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <title>Product</title>
  </head>
  <body>
    <div class="container py-3">
      <header>
        <div
          class="
            d-flex
            flex-column flex-md-row
            align-items-center
            pb-3
            mb-4
            border-bottom
          "
        >
          <a
            href="/"
            class="d-flex align-items-center text-dark text-decoration-none"
          >
            <span class="fs-4">Products</span>
          </a>

          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="#"
              >Home</a
            >
            <a class="me-3 py-2 text-dark text-decoration-none" href="#"
              >About Us</a
            >
            <a class="me-3 py-2 text-dark text-decoration-none" href="#"
              >Support</a
            >
            <a class="py-2 text-dark text-decoration-none" href="#">Cart</a>
          </nav>
        </div>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">Products</h1>
          <p class="fs-5 text-muted">
            We have got the collection from the world's best places. Explore
            your mind, and find what best fites you and your personality.
          </p>
        </div>
      </header>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
